@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Noto+Serif+KR:200,400,900|Source+Sans+Pro:200,400');

* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #ff6633;
    outline-offset: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    color: #ff6633;
}

a:hover {
    border-bottom: 2px dotted #ff6633;
}

h2 {
    padding: 0;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px dashed #222;
}

.mobile-nav,
.closed,
#nav-btn {
    display: none;
}



.btn {
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #fff;
    border: 3px solid #ff6633;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Alfa Slab One', cursive;
    margin-top: 20px;
    color: #222;
    transition: 0.2s;
}

.btn:hover,
.btn-sm:hover {
    background: #ff6633;
    color: #fff;
    border: 3px solid #ff6633;
}

.btn-sm {
    width: 150px;
    padding: 7px;
    text-align: center;
    background: #fff;
    border: 3px solid #ff6633;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Alfa Slab One', cursive;
    color: #222;
    transition: 0.2s;
}

.logo {
    display: flex;
    color: #222;
}

.logo:hover {
    border: none;
}

.logo-img {
    height: 70px;
    width: 70px;
}

.logo > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-size: 3em;
    font-family: 'Alfa Slab One', cursive;
    line-height: 1em;
}

.logo p {
    font-family: 'Noto Serif KR', sans-serif;
    margin: 0;
    font-size: 1.5em;
    margin-top: -15px;
    color: #1DA4AA;
}

.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    padding-bottom: 10px;
}

.links li {
    padding: 0 10px;
}

.links li a {
    color: #1DA4AA;
    font-size: 22px;
    font-weight: 200;
}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
    background-image:   linear-gradient(to right, transparent 10%, #222),
                        url('../assets/img/photo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;    
}

.hero-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10%;
    padding-right: 15%;
    color: #fff;
}

.hero-msg h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
    font-weight: normal;

}

.hero-msg p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1.5rem;
}

.hero-msg h1,
.hero-msg p {
    margin: 0px;
    line-height: 1.2em;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

main h2 {
    font-family: 'Noto Serif KR', sans-serif;
    color: #1DA4AA;
    font-weight: 900;
}


hr {
    width: 50%;
    height: 1px;
    border: none;
    background: #1DA4AA;
    margin: 50px auto;
}

.events {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    flex-wrap: wrap;
}

.events h2,
.events p {
    flex: 1 100%;
}

.event-card {
    flex: 1 1 auto;
    width: 250px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 0 #ddd;
    padding: 20px;
    margin: 20px;
    transition: 0.2s;
}

.event-card img {
    width: 100%;
}

.event-card:hover {
    transform: scale(1.1);
}

.highlight {
    color: #993333;
}

.project-slide {
    width: 400px;
    height: 300px;
    margin-top: 50px;
    position: relative;
    background: #1DA4AA;
    background: linear-gradient(45deg, #ff6633, #222, #1DA4AA);
    overflow: hidden;
  }
  .project-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fade 1s;
  }
  .project-slide .arrow {
    z-index: 10;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.5;
    transition: opacity 1s;
  }
  .project-slide .arrow:hover {
    cursor: pointer;
    opacity: 1;
  }
  .project-slide .arrow-left {
    left: 2%;
  }
  .project-slide .arrow-right {
    right: 2%;
  }
  .project-slide .dots {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 25rem;
    height: auto;
    z-index: 5;
  }
  .project-slide .dots .dot {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    color: #fff;
  }
  
  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

#subscribe {
    width: 300px;
    padding: 10px 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#subscribe:focus {
    border: 1px solid #1da4aa;
}


  

footer {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    background: #1DA4AA;
    border-top: 2px dashed #222;
}

footer a {
    color: #fff;
}

footer h4 {
    margin: 0;
    padding: 0;
}

footer i {
    color: #fff;
    font-size: 1.6em;
    margin: 0.4em;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
}

address {
    font-style: normal;
}

.social-icons {
    text-align: center;
    text-transform: uppercase;
    
}

.social-icons ul {
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
}

.social-icons ul:hover {
    opacity: 1;
}

.social-icons ul li i:hover {
 
    transform: scale(1.6);
    transition: 0.2s;
}

.social-icons ul li a:hover {
    border: none;
}

.legal {
    margin-top: 60px;
    text-align: center;
    flex: 1 1 100%;
}


@media screen and (min-width : 320px) and (max-width : 480px) {

    nav {
        flex-direction: column;
    }

    .mobile-nav-style {
        font-family: 'Alfa Slab One', cursive;
        margin-top: 20px;
        text-align: center;
        font-size: 1.6em;
        width: 100%;
    }

    #nav-btn {
        display: block;
    }

    .mobile-nav {
        display: block;
        width: 250px;
        background: coral;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.4s;
    }
    
    .closed {
        display: block;
        transform: translate(250px, 0);
    }

    .links {
        display: none;
    }



    }