@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Noto+Serif+KR:200,400,900|Source+Sans+Pro:200,400');

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #ff6633;
    outline-offset: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
    background: #fcfcfc;
}

a {
    text-decoration: none;
    color: #ff6633;
}

a:hover {
    border-bottom: 2px dotted #ff6633;
}


h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px dashed #222;
}

.mobile-nav,
.closed,
.nav-btn {
    display: none;
}

.jump {
    color: inherit;
}

.jump:hover {
    border: none;
}

.btn {
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #fff;
    border: 3px solid #ff6633;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Alfa Slab One', cursive;
    margin-top: 20px;
    color: #222;
    transition: 0.2s;
}

.btn:hover,
.btn-sm:hover {
    background: #ff6633;
    color: #fff;
    border: 3px solid #ff6633;
}

.btn-sm {
    width: 150px;
    padding: 7px;
    text-align: center;
    background: #fff;
    border: 3px solid #ff6633;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Alfa Slab One', cursive;
    color: #222;
    transition: 0.2s;
}

.logo {
    display: flex;
    color: #222;
}

.logo:hover {
    border: none;
}

.logo-img {
    height: 70px;
    width: 70px;
}

.logo > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-size: 48px;
    font-family: 'Alfa Slab One', cursive;
    line-height: 1.2;
}

.logo p {
    font-family: 'Noto Serif KR', sans-serif;
    margin: 0;
    font-size: 1.5em;
    margin-top: -15px;
    color: #1DA4AA;
}

.links a {
    position: relative;
	display: inline-block;
	margin: 10px 15px;
	outline: none;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(29, 164, 170, 0.3);
	font-size: 1.1em;
}

.dot-hover a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
    transition: color 0.3s;
}

.dot-hover a::before {
	position: absolute;
	top: 50%;
	left: 50%;
	color: transparent;
	content: '.';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.dot-hover a:hover::before,
.dot-hover a:focus::before {
	color: #ff6633;
	text-shadow: 10px 0 #ff6633, 20px 0 #ff6633, -10px 0 #ff6633, -20px 0 #ff6633;
}

.dot-hover a:hover,
.dot-hover a:focus {
    color: #ff6633;
    border-bottom: none;
}





.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
    background-image:   linear-gradient(45deg, rgba(255, 255, 255, 0.6) 10%, #1da4aa),
                        url('../assets/img/photo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;   
}

.hero-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10%;
    padding-right: 15%;
    color: #222;
}

.hero-msg h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
    font-weight: normal;

}

.hero-msg p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1.5rem;
}

.hero-msg h1,
.hero-msg p {
    margin: 0px;
    line-height: 1.2em;
}

.hero-about {
    background-image:   linear-gradient(to bottom, rgba(29, 164, 170, 0.8), rgba(255, 255, 255, 0.8)),
                        url('../assets/img/photo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-project {
    background-image:   linear-gradient(to bottom, rgba(29, 164, 170, 0.8), rgba(255, 255, 255, 0.8)),
                        url('../assets/img/photo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.hero-reserve {
    background-image:   linear-gradient(to bottom, rgba(29, 164, 170, 0.8), rgba(255, 255, 255, 0.8)),
                        url('../assets/img/photo5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.hero-contact {
    background-image:   linear-gradient(to bottom, rgba(29, 164, 170, 0.8), rgba(255, 255, 255, 0.8)),
                        url('../assets/img/photo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    height: 300px;
}


.hero-wrapper {
    padding-top: 60px;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.hero-wrapper h1 {
    flex: 1 1 100%;
    padding-bottom: 30px;
}

.about-list {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
}

.about-list i {
    color: #fff;
    -webkit-text-stroke: 2px black;
}

.about-list p {
    text-align: justify;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

main h2 {
    font-family: 'Noto Serif KR', sans-serif;
    color: #1DA4AA;
    font-weight: 900;
}

.main-about h3 {
    font-family: 'Noto Serif KR', sans-serif;
    color: #1DA4AA;
    font-weight: 900;
    font-size: 1.4em;
}

.main-about table {
    border-collapse: collapse;
    text-align: left;
}

.main-about tr,
.main-about td {
    padding: 5px 20px;
    margin: 0 10px;
}



hr {
    width: 50%;
    height: 1px;
    border: none;
    background: #1DA4AA;
    margin: 50px auto;
}

.events {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    flex-wrap: wrap;
}

.events h2,
.events p {
    flex: 1 100%;
}

.card {
    width: 400px;
    height: 400px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0 #ddd;
    padding: 20px;
    margin: 20px;
    transition: 0.2s;
}

.card img {
    width: auto;
    height: 150px;
}

.card:hover {
    transform: scale(1.1);
}

.highlight {
    color: #993333;
}

.price {
    color: #993333;
    font-size: 1.2em;
    font-weight: bold;
}

.project-slide {
    width: 400px;
    height: 300px;
    margin-top: 50px;
    position: relative;
    background: #1DA4AA;
    background: linear-gradient(45deg, #ff6633, #222, #1DA4AA);
    overflow: hidden;
  }
  .project-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fade 1s;
  }
  .project-slide .arrow {
    z-index: 10;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.5;
    transition: opacity 1s;
  }
  .project-slide .arrow:hover {
    cursor: pointer;
    opacity: 1;
  }
  .project-slide .arrow-left {
    left: 2%;
  }
  .project-slide .arrow-right {
    right: 2%;
  }
  .project-slide .dots {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 25rem;
    height: auto;
    z-index: 5;
  }
  .project-slide .dots .dot {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    color: #fff;
  }
  
  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

#subscribe {
    width: 300px;
    padding: 10px 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#subscribe:focus {
    border: 1px solid #1da4aa;
}

.project-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}
  

footer {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background: #1DA4AA;
    border-top: 2px dashed #222;
}

footer a {
    color: #fff;
}

footer h4 {
    margin: 0;
    padding: 0;
}

footer i {
    color: #fff;
    font-size: 1.6em;
    margin: 0.4em;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
}

address {
    font-style: normal;
}

.social-icons {
    text-align: center;
    text-transform: uppercase;
    
}

.social-icons ul {
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
}

.social-icons ul:hover {
    opacity: 1;
}

.social-icons ul li i:hover {
 
    transform: scale(1.6);
    transition: 0.2s;
}

.social-icons ul li a:hover {
    border: none;
}

.legal {
    margin-top: 60px;
    text-align: center;
    flex: 1 1 100%;
}

/* (min-width : 320px) and  */

@media screen and (max-width : 1024px) {

    nav {
        flex-direction: column;
    }

    .mobile-nav-style {
        font-family: 'Alfa Slab One', cursive;
        margin-top: 20px;
        text-align: center;
        width: 100%;
        color: #222;
    }

    .nav-btn {
        display: inline-block;
        font-family: 'Alfa Slab One', cursive;
        text-align: center;
        font-size: 1.6em;
        width: 50%;
        color: #222;
        background: none;
        border: none;
     }

    .nav-btn:hover {
        cursor: pointer;
    }

    .mobile-nav {
        display: block;
        width: 100vw;
        background: #fff;
        height: 500px;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        opacity: 1;
        transform: translate(0, 0);
        transition: all 0.4s ease-in;
       
    }
    
    .closed {
        transform: translate(0, -600px);
        opacity: 0.5;
        transition: all 0.4s ease-out;
    }

    .links {
        display: none;
    }

    .mobile-nav-links {
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 25px;
        font-size: 22px;
        line-height: 1.6;
        margin: 0;
    }

    .mobile-nav-links li {
        list-style-type: none;

    }

   .hero-msg {
        align-items: center;
        padding: 20px;
        text-align: center;

    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.6;
    }

    footer div {
        padding: 30px;
    }



    }

    .debugger {
        background: red;
    }
